.login_header{
    text-align: center;
    width: 980px;
    height:580px;
}
.login_footer{
    text-align: center;
    width: 980px;
    height:40px;
}
.login_tbody{
    text-align: center;
    width: 980px;
    height:442px;  
}
.login_header>a>img{
    margin-top:20px;
}
.tbody_left{

}
.tbody_right{}
